.managementContainer{
    display: flex;
    flex-wrap: wrap;
}
button{
    padding: 10px;
    margin: 5px;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


.managerDashboardNav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}
.managerDashboardNav ul li{
    padding: 10px;
    width: 30%;
}

.managerDashboardNavButton{
    color: white;
    padding: 20px;
    width: 100%;
    background-color: black;
    border: 0px;
}
.managerDashboardNavButtonSelected{
    background-color: white;
    padding:20px;
    width: 100%;
    border: 0px;
}
.managerDashboardNav ul li button:hover {
    cursor: pointer;
    background-color: #ccc;
    border: 2px solid black;
    color: black;
    border: 0px;
}
.welcomeMessage{
    margin-top: 10px;
}
.strong{
    color: red;
}
.pageTitle{
    margin: 10px;
}

.truckCards{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.truckCardButton{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.lastTruckCard{
    border: 1px dotted black;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    width: 230px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.cardContainer{
    border: 1px dotted black;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 5px;
    width: 230px;
    height: 300px;
    align-items: center;
}
.cardImgContainer{
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardImgContainer img {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.cardContainer button{
    width: 75%;
}
.pendingProducts{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.createForm{
    display: flex;
    flex-direction: column;
}
.createFormInputGroup{
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.createFormInput{
    width: 50%;
}

.imagePreview{
    width: 150px;
}
.qrPreview{
    width: 50px;
}