
.menuCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.menuCardContainer{
    border: 1px dotted black;
    padding: 15px;
    margin: 10px;
    height: 60px;
    width: 150px;
    text-align: center;
}
.lastMenuCard{
    border: 1px dotted black;
    padding: 15px;
    margin: 10px;
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttonGroup{
    display: flex;
    align-items: center;
}