.truckViewContainer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.truckViewImage{
    width: 75%;
    max-height: 75%;
}
.selectorInputGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectorUpdatedMenu{
    width: 180px;
}