:root{
    --border-color: black;
}
* {
    box-sizing: border-box;
}
.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 2px solid var(--border-color);
}

.errorNotificationText {
    color: red;
}
.successNotificationText {
    color: green;
}

footer{
    text-align: center;
    margin: 10px;
}