:root {
    --border-color: black;
    --red: #C41E3A;

    --header-font: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
}

.queuelessBrandBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid;
    background-color: black;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.moto {
    margin-top: 10px;
    font-family: "Kanit", sans-serif;
    color: white;
}

.queueless {
    color: white;
    margin-left: 25px;
    font-size: 3em;
    font-family: "Kanit", sans-serif;
    flex: 1;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.errorMessageText {
    color: red;
}


footer {
    text-align: center;
    margin: 10px;
}

html {
    scrollbar-gutter: stable both-edges;
    height: 100%;
}

.userMenu button {
    position: relative;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--red);         
    color: white;
    transition: all 0.2s ease;
    font-size: 1.3em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-right: 20px;
}

.userMenu h3{
    letter-spacing: .5px;
}

.userMenu button:hover {
    background-color: #f8f8f8;
    color: black;
}

.userMenuDropdown {
    position: absolute;
    top: 1;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    border-radius: 4px;
    background-color: white;
}

.userMenuDropdown button{
    margin-top: 6px;
    padding: 4px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    font-size: 1em;
    width: 120px;
}