ol ul{
    list-style-type: none;
    
}

ol{
    padding-left: 0px;
    margin: 0;
}

.cookDashContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;

}

.cookDashLeft{
    order: 1;
    padding-right: 50px;
    flex-grow: 1;
}

.cookDashRight{
    order: 2;
    width: 200px;
    border: 2px solid var(--border-color);
    margin: 10px;
    padding: 10px;
}

.orderList{
    width: 300px;
    text-wrap: nowrap;
}
.listLeft ul li{
    padding: 2px;
}

.listItem {
    display: block; /* Make listItem block-level */
    width: 100%; /* Ensure it takes up the full available width */
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--border-color); /* Border wraps the entire item */
    box-sizing: border-box; /* Include padding and borders in the total width/height */
    min-height: auto; /* Ensures a consistent height for each list item */
}

.listLeft {
    display: inline-block; /* Make the left section inline-block */
    width: 60%; 
    padding-right: 20px; /* Space between left and right content */
    vertical-align: top; /* Align to the top of the container */
}

.listRight {
    display: inline-block; /* Make the right section inline-block */
    width: 150px; 
    vertical-align: center; /* Align to the top of the container */
    margin-left: auto;
}

.listButton {
    margin: 2.5%;
    height: 25px;
    width: 150px;
}
